<div ng-controller="customerAbsenteeismIndicatorsCtrl">
        <form name="Form" id="frmIndicators" novalidate ng-submit="form.submit(Form)">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title"><span class="text-bold">DATOS BÁSICOS</span></h4>
                        </div>
    
                        <div class="panel-body">
    
                            <div class="row">
                                <div class="col-md-6">
    
                                    <a class="btn btn-wide btn-success" href="#" ng-click="onCreateNew()"><i
                                            class="glyphicon glyphicon-plus"></i> Consolidar información</a>
    
                                </div>
    
                                <div class="col-md-6">
                                    <div class="pull-right">
                                        <a class="btn btn-wide btn-danger" href="#" ng-click="onCreateNew()"><i
                                                class="glyphicon glyphicon-cog"></i> Configurar metas indicadores</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-3">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.classification.$dirty && Form.classification.$invalid}">
                                        <label class="control-label">Clasificación<span
                                                class="symbol required"></span></label>
    
                                        <ui-select name="classification" ng-required="true" ng-disabled="isView"
                                                   ng-model="indicator.classification" theme="bootstrap">
                                            <ui-select-match placeholder="- Seleccionar -">
                                                [[$select.selected.item]]
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item in classifications | filter: $select.search track by $index">
                                                <div ng-bind-html="item.item | highlight: $select.search"></div>
    
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="error text-small block"
                                              ng-if="Form.classification.$dirty && Form.classification.$invalid">La clasificación es requerida</span>
                                    </div>
    
                                </div>
    
                                <div class="col-md-3">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.period.$dirty && Form.period.$invalid}">
                                        <label class="control-label">Periodo<span
                                                class="symbol required"></span></label>
    
                                        <ui-select name="period" ng-required="true" ng-disabled="isView"
                                                   ng-model="indicator.period" theme="bootstrap">
                                            <ui-select-match placeholder="- Seleccionar -">
                                                [[$select.selected.item]]
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item in periods | filter: $select.search track by $index">
                                                <div ng-bind-html="item.item | highlight: $select.search"></div>
    
                                            </ui-select-choices>
                                        </ui-select>
    
                                        <span class="error text-small block"
                                              ng-if="Form.period.$dirty && Form.period.$invalid">El periodo es requerido</span>
                                    </div>
    
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.workCenter.$dirty && Form.workCenter.$invalid}">
                                        <label class="control-label">Centro de trabajo<span
                                                class="symbol required"></span></label>
    
                                        <ui-select name="workCenter" ng-required="true" ng-disabled="isView"
                                                   ng-model="indicator.workCenter" theme="bootstrap">
                                            <ui-select-match placeholder="- Seleccionar -">
                                                [[$select.selected.item]]
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item in workplaces | filter: $select.search track by $index">
                                                <div ng-bind-html="item.item | highlight: $select.search"></div>
    
                                            </ui-select-choices>
                                        </ui-select>
    
                                        <span class="error text-small block"
                                              ng-if="Form.workCenter.$dirty && Form.workCenter.$invalid">El centro de trabajo es requerido</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
    
                                <div class="col-md-3">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.manHoursWorked.$dirty && Form.manHoursWorked.$invalid}">
                                        <label class="control-label">
                                            Horas hombre trabajadas <span class="symbol required"></span>
                                        </label>
                                        <input ng-disabled="isView" type="text" placeholder="Ingrese las horas hombre"
                                               class="form-control" name="manHoursWorked"
                                               ng-model="indicator.manHoursWorked" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.manHoursWorked.$dirty && Form.manHoursWorked.$invalid">Las horas son requeridas</span>
                                    </div>
    
                                </div>
    
                                <div class="col-md-3">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.population.$dirty && Form.population.$invalid}">
                                        <label class="control-label">
                                            Población <span class="symbol required"></span>
                                        </label>
                                        <input ng-disabled="isView" type="text" placeholder="Ingrese la población"
                                               class="form-control" name="population"
                                               ng-model="indicator.population" required/>
                                        <span class="error text-small block"
                                                  ng-if="Form.population.$dirty && Form.population.$invalid">La población es requerida</span>
                                    </div>
    
                                </div>
    
    
                                <div class="col-md-3">
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.directCost.$dirty && Form.directCost.$invalid}">
                                        <label class="control-label">
                                            Costos directos <span class="symbol required"></span>
                                        </label>
                                        <input type="text" placeholder="Ingrese los costos directos" ng-disabled="isView"
                                               class="form-control" name="directCost"
                                               id="directCost" value="0"
                                               ng-model="indicator.directCost"
                                               touchspin data-min="-100000000000" data-max="100000000000" data-stepinterval="50"
                                               data-maxboostedstep="100000000000" data-prefix="$">
                                        <span class="error text-small block"
                                              ng-if="Form.directCost.$dirty && Form.directCost.$invalid">Los costos directos son requeridos</span>
                                    </div>
                                </div>
    
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title"><span class="text-bold">INFORMACIÓN DETALLADA DE ENFERMEDADES GENERALES Y ACCIDENTES LABORALES</span></h4>
                        </div>
                        <div class="panel-body">
    
                            <div class="row">
    
                                <div class="col-md-4">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.eventNumber.$dirty && Form.eventNumber.$invalid}">
                                        <label class="control-label">
                                            Eventos <span class="symbol required"></span>
                                        </label>
                                        <input type="text" placeholder="Ingrese el número de eventos"
                                               class="form-control" name="eventNumber" ng-disabled="isView"
                                               touchspin="" data-verticalbuttons="true"
                                               data-max="1000000000"
                                               data-verticalupclass="ti-angle-up"
                                               data-verticaldownclass="ti-angle-down"
                                               ng-model="indicator.eventNumber" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.eventNumber.$dirty && Form.eventNumber.$invalid">El número de eventos es requerido</span>
                                    </div>
    
                                </div>
    
                                <div class="col-md-4">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.targetEvent.$dirty && Form.targetEvent.$invalid}">
                                        <label class="control-label">
                                            Meta de eventos <span class="symbol required"></span>
                                        </label>
                                        <input type="text"
                                               placeholder="Ingrese la meta de eventos"
                                               class="form-control" name="targetEvent" ng-disabled="isView"
                                               touchspin="" data-verticalbuttons="true"
                                               data-max="1000000000"
                                               data-verticalupclass="ti-angle-up"
                                               data-verticaldownclass="ti-angle-down"
                                               ng-model="indicator.targetEvent" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.targetEvent.$dirty && Form.targetEvent.$invalid">La meta de eventos es requerida</span>
                                    </div>
    
                                </div>
    
    
                                <div class="col-md-4">
    
                                    <div class="form-group">
                                        <label class="control-label">
                                            Tasa de enfermedad o accidentalidad
                                        </label>
                                        <input ng-disabled="true" type="text"
                                               placeholder="% Tasa de enfermedad o accidentalidad"
                                               class="form-control" name="diseaseRate"
                                               ng-model="indicator.diseaseRateFormat"/>
                                    </div>
    
                                </div>
                            </div>
    
    
                            <div class="row">
    
                                <div class="col-md-4">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.disabilityDays.$dirty && Form.disabilityDays.$invalid}">
                                        <label class="control-label">
                                            Días incapacitantes <span class="symbol required"></span>
                                        </label>
                                        <input type="text"
                                               placeholder="Ingrese los días incapacitantes"
                                               class="form-control" name="disabilityDays" ng-disabled="isView"
                                               touchspin="" data-verticalbuttons="true"
                                               data-max="1000000000"
                                               data-verticalupclass="ti-angle-up"
                                               data-verticaldownclass="ti-angle-down"
                                               ng-model="indicator.disabilityDays" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.disabilityDays.$dirty && Form.disabilityDays.$invalid">Los días incapacitantes son requeridos</span>
                                    </div>
    
                                </div>
    
                                <div class="col-md-4">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.targetDisabilityDays.$dirty && Form.targetDisabilityDays.$invalid}">
                                        <label class="control-label">
                                            Meta de días incapacitantes <span class="symbol required"></span>
                                        </label>
                                        <input type="text"
                                               placeholder="Ingrese meta días incapacitantes"
                                               class="form-control" name="targetDisabilityDays" ng-disabled="isView"
                                               touchspin="" data-verticalbuttons="true"
                                               data-max="1000000000"
                                               data-verticalupclass="ti-angle-up"
                                               data-verticaldownclass="ti-angle-down"
                                               ng-model="indicator.targetDisabilityDays" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.targetDisabilityDays.$dirty && Form.targetDisabilityDays.$invalid">La meta es requerida</span>
                                    </div>
    
                                </div>
    
                                <div class="col-md-4">
    
    
    
                                </div>
                            </div>
    
                            <div class="row">
    
                                <div class="col-md-4">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.targetFrequency.$dirty && Form.targetFrequency.$invalid}">
                                        <label class="control-label">
                                            Meta de frecuencia <span class="symbol required"></span>
                                        </label>
                                        <input type="text"
                                               placeholder="Ingrese la meta de frecuencia"
                                               class="form-control" name="targetFrequency" ng-disabled="isView"
                                               touchspin="" data-verticalbuttons="true"
                                               data-max="1000000000"
                                               data-verticalupclass="ti-angle-up"
                                               data-verticaldownclass="ti-angle-down"
                                               ng-model="indicator.targetFrequency" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.targetFrequency.$dirty && Form.targetFrequency.$invalid">La meta de frecuencia es requerida</span>
                                    </div>
    
                                </div>
    
                                <div class="col-md-4">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.targetFrequencyIndex.$dirty && Form.targetFrequencyIndex.$invalid}">
                                        <label class="control-label">
                                            Meta de indice de frecuencia <span class="symbol required"></span>
                                        </label>
                                        <input type="text"
                                               placeholder="Ingrese la meta del índice de frecuencia"
                                               class="form-control" name="targetFrequencyIndex" ng-disabled="isView"
                                               touchspin="" data-verticalbuttons="true"
                                               data-max="1000000000"
                                               data-verticalupclass="ti-angle-up"
                                               data-verticaldownclass="ti-angle-down"
                                               ng-model="indicator.targetFrequencyIndex" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.targetFrequencyIndex.$dirty && Form.targetFrequencyIndex.$invalid">La meta de índice de frecuencia es requerida</span>
                                    </div>
    
                                </div>
    
    
                                <div class="col-md-4">
    
                                    <div class="form-group">
                                        <label class="control-label">
                                            Índice de frecuencia (IF)
                                        </label>
                                        <input ng-disabled="true" type="text"
                                               placeholder="Número índice de frecuencia"
                                               class="form-control" name="risk3"
                                               ng-model="indicator.frequencyIndexFormat" />
                                    </div>
    
                                </div>
                            </div>
    
                            <div class="row">
    
                                <div class="col-md-4">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.targetSeverity.$dirty && Form.targetSeverity.$invalid}">
                                        <label class="control-label">
                                            Meta de severidad <span class="symbol required"></span>
                                        </label>
                                        <input type="text"
                                               placeholder="Ingrese la meta de severidad"
                                               class="form-control" name="targetSeverity" ng-disabled="isView"
                                               touchspin="" data-verticalbuttons="true"
                                               data-max="1000000000"
                                               data-verticalupclass="ti-angle-up"
                                               data-verticaldownclass="ti-angle-down"
                                               ng-model="indicator.targetSeverity" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.targetSeverity.$dirty && Form.targetSeverity.$invalid">La meta de severidad es requerida</span>
                                    </div>
    
                                </div>
    
                                <div class="col-md-4">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.targetSeverityIndex.$dirty && Form.targetSeverityIndex.$invalid}">
                                        <label class="control-label">
                                            Meta de indice de severidad <span class="symbol required"></span>
                                        </label>
                                        <input type="text"
                                               placeholder="Ingrese la meta de índice de severidad"
                                               class="form-control" name="targetSeverityIndex" ng-disabled="isView"
                                               touchspin="" data-verticalbuttons="true"
                                               data-max="1000000000"
                                               data-verticalupclass="ti-angle-up"
                                               data-verticaldownclass="ti-angle-down"
                                               ng-model="indicator.targetSeverityIndex" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.targetSeverityIndex.$dirty && Form.targetSeverityIndex.$invalid">La meta índice de severidad es requerida</span>
                                    </div>
    
                                </div>
    
    
                                <div class="col-md-4">
    
                                    <div class="form-group">
                                        <label class="control-label">
                                            Índice de severidad (IS)
                                        </label>
                                        <input ng-disabled="true" type="text"
                                               placeholder="Número de índice de severidad"
                                               class="form-control" name="severityIndex"
                                               ng-model="indicator.severityIndexFormat"/>
                                    </div>
    
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title"><span class="text-bold">AL</span></h4>
                        </div>
    
                        <div class="panel-body">
                            <div class="row">
    
                                <div class="col-md-4">
    
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.targetWorkAccident.$dirty && Form.targetWorkAccident.$invalid}">
                                        <label class="control-label">
                                            Meta ILI <span class="symbol required"></span>
                                        </label>
                                        <input type="text"
                                               placeholder="Ingrese la meta ILI"
                                               class="form-control" name="targetWorkAccident" ng-disabled="isView"
                                               touchspin="" data-verticalbuttons="true"
                                               data-max="1000000000"
                                               data-verticalupclass="ti-angle-up"
                                               data-verticaldownclass="ti-angle-down"
                                               ng-model="indicator.targetWorkAccident" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.targetWorkAccident.$dirty && Form.targetWorkAccident.$invalid">La meta ILI es requerida</span>
                                    </div>
    
                                </div>
    
                                <div class="col-md-4">
    
                                    <div class="form-group">
                                        <label class="control-label">
                                            Índice de lesiones incapacitantes
                                        </label>
                                        <input ng-disabled="true" type="text"
                                               placeholder="Número de ILI"
                                               class="form-control" name="disablingInjuriesIndex"
                                               ng-model="indicator.disablingInjuriesIndexFormat"/>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
            <div class="row rowactions actionswzr">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary btn-o btn-wide pull-right" ng-click="cancelEdition()">
                            Regresar
                        </button>
                        <button type="submit" class="btn btn-primary" ng-if="!isView">
                            Guardar
                        </button>
                        <button type="button" class="btn btn-primary btn-o" ng-click="clear()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading border-light">
                        <h4 class="panel-title"><span class="text-bold">MATRIZ DE INDICADORES</span></h4>
                    </div>
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <div class="table-responsive">
                                        <table datatable="" width="100%" dt-instance="dtInstanceIndicators" dt-options="dtOptionsIndicators"
                                               dt-columns="dtColumnsIndicators" id="dataTableIndicators"
                                               class="table table-bordered table-hover"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    
    
    </div>