<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="Seguimiento">Seguimientos</h1>
            <span class="mainDescription">Desde aquí podrá administrar los seguimientos del cliente.</span>
        </div>
        <!--<div ncy-breadcrumb></div>-->
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: RESPONSIVE TABLE -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable="" width="100%" dt-instance="dtInstanceTracking" dt-options="dtOptionsTracking" dt-columns="dtColumns"  class="table table-bordered table-hover"></table>
            </div>
        </div>
    </div>
</div>
<!-- end: RESPONSIVE TABLE -->
