<div class="fade-in-right-big">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="CONFIGURACIÓN DE PLANES DE TRABAJO FGN POR SECCIONAL">CONFIGURACIÓN DE PLANES DE TRABAJO FGN POR SECCIONAL</h1>
            </div>
        </div>
    </section>

    <div class="container-fluid container-fullw bg-white">
        <div ng-controller="PFFactivityConfigSectionalEditCtrl">

            <form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-heading border-light">
                                <h4 class="panel-title"><span class="text-bold">INFORMACIÓN DE LA ACTIVIDAD</span></h4>
                            </div>

                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Eje</label>
                                            <input type="text" ng-disabled="true" class="form-control" name="axis" placeholder="Ingrese valor" ng-model="entity.axis.item" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Acción</label>
                                            <input type="text" ng-disabled="true" class="form-control" name="action" placeholder="Ingrese valor" ng-model="entity.action.item" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Cod. Actividad</label>
                                            <input type="text" ng-disabled="true" class="form-control" name="code" placeholder="Ingrese valor" ng-model="entity.code" />
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label">Actividad </label>
                                            <input type="text" ng-disabled="true" class="form-control" name="name" placeholder="Ingrese valor" ng-model="entity.name" />
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Meta Cobertura </label>
                                                    <input type="text" ng-disabled="true" class="form-control" name="goalCoverage" placeholder="Ingrese valor" ng-model="entity.goalCoverage" />
                                                </div>
                                            </div>

                                            <!-- <div class="col-md-3">ß
                                                <div class="form-group">
                                                    <label class="control-label">Asignación Disp.</label>
                                                    <input type="text" ng-disabled="true" class="form-control" name="assignmentCoverage" placeholder="Ingrese valor" ng-model="entity.assignmentCoverage" />
                                                </div>
                                            </div> -->

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Meta Cumplimiento </label>
                                                    <input type="text" ng-disabled="true" class="form-control" name="goalCompliance" placeholder="Ingrese valor" ng-model="entity.goalCompliance" />
                                                </div>
                                            </div>

                                            <!-- <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Asignación Disp.</label>
                                                    <input type="text" ng-disabled="true" class="form-control" name="assignmentCompliance" placeholder="Ingrese valor" ng-model="entity.assignmentCompliance" />
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="panel panel-white">
                            <div class="panel-heading border-light">
                                <h4 class="panel-title"><span class="text-bold">METAS ACTIVIDAD</span></h4>
                            </div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'has-error':Form.regional.$dirty && Form.regional.$invalid}">
                                            <label class="control-label">Regional<span
                                                class="symbol required"></span></label>
                                            <ui-select name="regional" ng-required="true" on-select="filterSectional()" ng-model="entity.regional" ng-disabled="isView" theme="bootstrap">
                                                <ui-select-match placeholder="- Opción -">
                                                    [[$select.selected.item]]
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in regionalList | filter: $select.search track by $index">
                                                    <div ng-bind-html="item.item | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="error text-small block" ng-if="Form.regional.$dirty && Form.regional.$invalid">
                                            El valor es requerido.
                                        </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'has-error':Form.sectional.$dirty && Form.sectional.$invalid}">
                                            <label class="control-label">Seccional<span
                                                class="symbol required"></span></label>
                                            <ui-select name="sectional" ng-required="true" ng-model="entity.sectional" ng-disabled="isView" theme="bootstrap">
                                                <ui-select-match placeholder="- Opción -">
                                                    [[$select.selected.item]]
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in sectionalList | filter: $select.search track by $index">
                                                    <div ng-bind-html="item.item | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="error text-small block" ng-if="Form.sectional.$dirty && Form.sectional.$invalid">
                                            El valor es requerido.
                                        </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row" ng-repeat="indicator in entity.details.indicator">

                                    <div class="col-md-12">

                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-default" is-open="openThis" ng-init="openThis=($index == 0)">
                                                <uib-accordion-heading>
                                                    <strong> Indicador: </strong> [[indicator.type.item ]] - <strong>Peridicidad:</strong> [[ indicator.periodicity.item ]] - <strong>Meta:</strong> [[indicator.goal]] <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openThis, 'glyphicon-chevron-right': !openThis}"></em>
                                                </uib-accordion-heading>

                                                <div class="row">

                                                    <div class="col-md-3">
                                                        <div class="form-group" ng-class="{'has-error':Form.type.$dirty && Form.type.$invalid && !type.type}">
                                                            <label class="control-label">Tipo <span class="symbol required"></span></label>
                                                            <ui-select name="type" ng-required="true" ng-disabled="true" ng-model="indicator.type" theme="bootstrap">
                                                                <ui-select-match placeholder="- Seleccionar -">
                                                                    [[$select.selected.item]]
                                                                </ui-select-match>
                                                                <ui-select-choices ui-disable-choice="valideSingleIndicator(item)" repeat="item in typeList | filter: $select.search track by $index">
                                                                    <div ng-bind-html="item.item | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>

                                                            <span class="error text-small block" ng-if="Form.type.$dirty && Form.type.$invalid && !type.type">
                                                            El valor es requerido.</span>

                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group" ng-class="{'has-error':Form.periodicity.$dirty && Form.periodicity.$invalid && !periodicity.periodicity}">
                                                            <label class="control-label">Periodicidad <span class="symbol required"></span></label>
                                                            <ui-select name="periodicity" ng-required="true" ng-disabled="true" ng-model="indicator.periodicity" theme="bootstrap">
                                                                <ui-select-match placeholder="- Seleccionar -">
                                                                    [[$select.selected.item]]
                                                                </ui-select-match>
                                                                <ui-select-choices repeat="item in periodicityList | filter: $select.search track by $index">
                                                                    <div ng-bind-html="item.item | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>

                                                            <span class="error text-small block" ng-if="Form.periodicity.$dirty && Form.periodicity.$invalid && !periodicity.periodicity">
                                                            El valor es requerido.</span>

                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Formulación</label>
                                                            <textarea name="formulation" class="form-control" rows="1" ng-disabled="true" ng-model="indicator.formulation" maxlength="300">
                                                        </textarea>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="panel panel-white">
                                                            <div class="panel-heading border-light" style="border-bottom: 1px solid;">
                                                                <h4 class="panel-title"><span class="text-bold">METAS</span></h4>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <!-- Para validar los indicadores en cada input colocar la sentencia: -->
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Enero</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="jan" placeholder="Ingrese valor" ng-model="indicator.jan" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Febrero</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="feb" placeholder="Ingrese valor" ng-model="indicator.feb" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Marzo</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="mar" placeholder="Ingrese valor" ng-model="indicator.mar" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Abril</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="apr" placeholder="Ingrese valor" ng-model="indicator.apr" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Mayo</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="may" placeholder="Ingrese valor" ng-model="indicator.may" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Junio</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="jun" placeholder="Ingrese valor" ng-model="indicator.jun" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Julio</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="jul" placeholder="Ingrese valor" ng-model="indicator.jul" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Agosto</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="aug" placeholder="Ingrese valor" ng-model="indicator.aug" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Septiembre</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="sep" placeholder="Ingrese valor" ng-model="indicator.sep" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Octubre</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="oct" placeholder="Ingrese valor" ng-model="indicator.oct" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Noviembre</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="nov" placeholder="Ingrese valor" ng-model="indicator.nov" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Diciembre</label>
                                                                            <input type="number" min="0" maxlength="5" class="form-control" ng-change="calculateGoal(indicator)" ng-disabled="isView || (entity.goalAnnual && indicator.id)" name="dec" placeholder="Ingrese valor" ng-model="indicator.dec" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </uib-accordion>

                                    </div>

                                    <div class="col-md-6">
                                        <h4 class="text-info">
                                            <strong>Meta [[ indicator.periodicity.item ]]: [[ indicator.goal ]]</strong>
                                        </h4>
                                    </div>

                                    <div class="col-md-12">
                                        <hr>
                                    </div>

                                </div>

                                <div class="col-md-12" ng-if="!isView">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary">
                                        Guardar
                                    </button>
                                        <button type="button" class="btn btn-primary btn-o" ng-click="onCancel()">
                                        Cancelar
                                    </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table datatable="" width="100%" dt-instance="dtInstanceActivityConfigSectional" dt-options="dtOptionsActivityConfigSectional" id="dtActivityConfigSectional" dt-columns="dtColumnsActivityConfigSectional" class="table table-bordered table-hover"></table>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-bottom-20">
                            <br>
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" ng-if="!isView" class="btn btn-primary " ng-click="onEdit()">
                                    Editar
                                </button>
                                    <button type="button" ng-if="!isView" class="btn btn-blue " ng-click="onConfig()">
                                    Configurar
                                </button>
                                    <button type="button" class="btn btn-primary btn-o" ng-click="onBack()">
                                    Regresar
                                </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>