<div ng-controller="customerOccupationalInvestigationEditCtrl">

    <div class="row">
        <div class="col-md-12">


            <!-- start: WIZARD FORM -->

            <form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
                <div id="wizard" class="swMain">
                    <!-- start: WIZARD SEPS -->
                    <ul>

                        <li ng-click="form.goTo(Form, 0)">
                            <a href class="itemwzr"
                               ng-class="{'selected' : currentStep >= 0, 'done' : currentStep > 0}">
                                <div class="stepNumber">
                                    0 %
                                </div>
                                <span class="stepDesc text-small"> INFORMACIÓN GRAL INVESTIGACIÓN </span>
                            </a>
                        </li>

                        <li ng-click="form.goTo(Form, 1)">
                            <a href class="itemwzr"
                               ng-class="{'selected' : currentStep >= 1, 'done' : currentStep > 1}">
                                <div class="stepNumber">
                                    0 %
                                </div>
                                <span class="stepDesc text-small"> INFORMACIÓN EMPLEADOR </span>
                            </a>
                        </li>


                        <li ng-click="form.goTo(Form, 2)">
                            <a href class="itemwzr"
                               ng-class="{'selected' : currentStep >= 2, 'done' : currentStep > 2}">
                                <div class="stepNumber">
                                    0 %
                                </div>
                                <span class="stepDesc text-small"> INFORMACIÓN DE LA PERSONA QUE SE ACCIDENTÓ </span>
                            </a>
                        </li>


                        <li ng-click="form.goTo(Form, 3)">
                            <a href class="itemwzr"
                               ng-class="{'selected' : currentStep >= 3, 'done' : currentStep > 3}">
                                <div class="stepNumber">
                                    0 %
                                </div>
                                <span class="stepDesc text-small"> INFORMACIÓN DEL ACCIDENTE </span>
                            </a>
                        </li>

                        <li ng-click="form.goTo(Form, 4)">
                            <a href class="itemwzr"
                               ng-class="{'selected' : currentStep >= 4, 'done' : currentStep > 4}">
                                <div class="stepNumber">
                                    0 %
                                </div>
                                <span class="stepDesc text-small"> ENTREVISTAS </span>
                            </a>
                        </li>

                        <li ng-click="form.goTo(Form, 5)">
                            <a href class="itemwzr"
                               ng-class="{'selected' : currentStep >= 5, 'done' : currentStep > 5}">
                                <div class="stepNumber">
                                    0 %
                                </div>
                                <span class="stepDesc text-small"> ANÁLISIS DE CAUSAS </span>
                            </a>
                        </li>

                        <li ng-click="form.goTo(Form, 6)">
                            <a href class="itemwzr"
                               ng-class="{'selected' : currentStep >= 6, 'done' : currentStep > 6}">
                                <div class="stepNumber">
                                    0 %
                                </div>
                                <span class="stepDesc text-small"> COMPROMISOS MEDIDAS INTERV</span>
                            </a>
                        </li>

                    </ul>
                    <!-- end: WIZARD SEPS -->
                    <!-- start: WIZARD STEP 1 -->
                    <div id="step-0" ng-show="currentStep == 0">

                        <h3>I. INFORMACIÓN GENERAL DE LA INVESTIGACIÓN</h3>

                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="app.views.urlRoot + 'modules/customer/occupational/investigation/customer_occupational_investigation_al_edit_general.htm'">
                        </div>

                        <div class="row margin-bottom-15">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" ng-if="!isView">
                                        Guardar
                                    </button>
                                    <button type="button" class="btn btn-primary btn-o"
                                            ng-click="onCancel()">
                                        Cancelar
                                    </button>
|
                                    <button type="button"
                                            class="btn btn-primary btn-o next-step btn-wide"
                                            ng-click="form.next(Form)">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="step-1" ng-show="currentStep == 1">
                        <h3>II. INFORMACIÓN DEL EMPLEADOR</h3>

                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="app.views.urlRoot + 'modules/customer/occupational/investigation/customer_occupational_investigation_al_edit_customer.htm'">
                        </div>


                        <div class="row margin-bottom-15">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" ng-if="!isView">
                                        Guardar
                                    </button>
                                    <button type="button" class="btn btn-primary btn-o"
                                            ng-click="onCancel()">
                                        Cancelar
                                    </button>
                                    |
                                    <button type="button"
                                            class="btn btn-primary btn-o back-step btn-wide"
                                            ng-click="form.prev(Form)">
                                        <i class="fa fa-arrow-circle-left"></i>
                                         Anterior
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary btn-o next-step btn-wide"
                                            ng-click="form.next(Form)">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="step-2" ng-show="currentStep == 2">
                        <h3>III. INFORMACIÓN DE LA PERSONA QUE SE ACCIDENTÓ</h3>

                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="app.views.urlRoot + 'modules/customer/occupational/investigation/customer_occupational_investigation_al_edit_employee.htm'">
                        </div>

                        <div class="row margin-bottom-15">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" ng-if="!isView">
                                        Guardar
                                    </button>
                                    <button type="button" class="btn btn-primary btn-o"
                                            ng-click="onCancel()">
                                        Cancelar
                                    </button>
                                    |
                                    <button type="button"
                                            class="btn btn-primary btn-o back-step btn-wide"
                                            ng-click="form.prev(Form)">
                                        <i class="fa fa-arrow-circle-left"></i>
                                         Anterior
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary btn-o next-step btn-wide"
                                            ng-click="form.next(Form)">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="step-3" ng-show="currentStep == 3">
                        <h3>IV. INFORMACIÓN DEL ACCIDENTE</h3>

                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="app.views.urlRoot + 'modules/customer/occupational/investigation/customer_occupational_investigation_al_edit_accident.htm'">
                        </div>

                        <div class="row margin-bottom-15">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" ng-if="!isView">
                                        Guardar
                                    </button>
                                    <button type="button" class="btn btn-primary btn-o"
                                            ng-click="onCancel()">
                                        Cancelar
                                    </button>
                                    |
                                    <button type="button"
                                            class="btn btn-primary btn-o back-step btn-wide"
                                            ng-click="form.prev(Form)">
                                        <i class="fa fa-arrow-circle-left"></i>
                                         Anterior
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary btn-o next-step btn-wide"
                                            ng-click="form.next(Form)">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="step-4" ng-show="currentStep == 4">
                        <h3>V. ENTREVISTAS</h3>

                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="app.views.urlRoot + 'modules/customer/occupational/investigation/customer_occupational_investigation_al_edit_interview.htm'">
                        </div>

                        <div class="row margin-bottom-15">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" ng-if="!isView">
                                        Guardar
                                    </button>
                                    <button type="button" class="btn btn-primary btn-o"
                                            ng-click="onCancel()">
                                        Cancelar
                                    </button>
                                    |
                                    <button type="button"
                                            class="btn btn-primary btn-o back-step btn-wide"
                                            ng-click="form.prev(Form)">
                                        <i class="fa fa-arrow-circle-left"></i>
                                         Anterior
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary btn-o next-step btn-wide"
                                            ng-click="form.next(Form)">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="step-5" ng-show="currentStep == 5">
                        <h3>VI. ANÁLISIS DE CAUSAS</h3>

                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="app.views.urlRoot + 'modules/customer/occupational/investigation/customer_occupational_investigation_al_edit_analysis_cause.htm'">
                        </div>

                        <div class="row margin-bottom-15">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" ng-if="!isView">
                                        Guardar
                                    </button>
                                    <button type="button" class="btn btn-primary btn-o"
                                            ng-click="onCancel()">
                                        Cancelar
                                    </button>
                                    |
                                    <button type="button"
                                            class="btn btn-primary btn-o back-step btn-wide"
                                            ng-click="form.prev(Form)">
                                        <i class="fa fa-arrow-circle-left"></i>
                                         Anterior
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary btn-o next-step btn-wide"
                                            ng-click="form.next(Form)">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="step-6" ng-show="currentStep == 6">
                        <h3>VII. COMPROMISOS (MEDIDAS DE INTERVENCIÓN)</h3>

                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="app.views.urlRoot + 'modules/customer/occupational/investigation/customer_occupational_investigation_al_edit_proposed_measure.htm'">
                        </div>

                        <div class="row margin-bottom-15">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" ng-if="!isView">
                                        Guardar
                                    </button>
                                    <button type="button" class="btn btn-primary btn-o"
                                            ng-click="onCancel()">
                                        Cancelar
                                    </button>
                                    |
                                    <button type="button" class="btn btn-info btn-o" ng-if="investigation.id != 0" ng-click="onPreview()">
                                        Previsualizar
                                    </button>
                                    |
                                    <button type="button"
                                            class="btn btn-primary btn-o back-step btn-wide"
                                            ng-click="form.prev(Form)">
                                        <i class="fa fa-arrow-circle-left"></i>
                                         Anterior
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end: WIZARD STEP 1 -->
                </div>

                <div class="row margin-bottom-15">
                    <div class="col-md-12">
                        <div class="pull-right">

                        </div>
                    </div>
                </div>
            </form>


            <!-- end: WIZARD FORM -->

        </div>
    </div>


</div>
