<div ng-controller="customerDiagnosticRiskMatrixCtrl">
    <div class="row ">
        <div class="col-md-12">
            <uib-tabset class="tabbable">
                <uib-tab active="true" select="switchTab('summary')">
                    <uib-tab-heading>
                        Intervención
                    </uib-tab-heading>
                    <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="getView('summary').url">
                    </div>
                </uib-tab>

                <uib-tab select="switchTab('priorization')">
                    <uib-tab-heading>
                        Priorización
                    </uib-tab-heading>
                    <div ng-if="tabname=='priorization'">
                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="getView('priorization').url">
                        </div>
                    </div>
                </uib-tab>

                <uib-tab select="switchTab('historical')">
                    <uib-tab-heading>
                        Historial
                    </uib-tab-heading>
                    <div ng-if="tabname=='historical'">
                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="getView('historical').url">
                        </div>
                    </div>
                </uib-tab>

                <uib-tab select="switchTab('characterization')">
                    <uib-tab-heading>
                        Caracterización
                    </uib-tab-heading>
                    <div ng-if="tabname=='characterization'">
                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="getView('characterization').url">
                        </div>
                    </div>
                </uib-tab>                
            </uib-tabset>
        </div>
    </div>
</div>