<div ng-controller="customerImprovementPlanTrackingCtrl">

    <form name="Form" id="Form" novalidate ng-submit="form.submit(Form)">
        <!-- 
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading border-light">
                        <h4 class="panel-title"><span class="text-bold">DATOS BÁSICOS</span></h4>
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group"
                                     ng-class="{'has-error':Form.startDateTracking.$dirty && Form.startDateTracking.$invalid}">
                                    <label class="control-label">Fecha<span
                                            class="symbol required"></span></label>
                                    <input class="form-control" kendo-date-picker
                                           k-options="datePickerConfig"
                                           k-min="maxDate"
                                           k-ng-model="tracking.startDate"
                                           style="width: 100%;"/>
                                    <span class="error text-small block"
                                          ng-if="Form.startDateTracking.$dirty && Form.startDateTracking.$invalid">La fecha es requerida</span>
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group"
                                     ng-class="{'has-error':Form.responsibleTracking.$dirty && Form.responsibleTracking.$invalid}">
                                    <label class="control-label">Responsable<span
                                            class="symbol required"></span></label>
                                    <ui-select name="responsibleTracking" ng-required="true" ng-disabled="isView"
                                               ng-model="tracking.responsible" theme="bootstrap">
                                        <ui-select-match placeholder="- Seleccionar -">
                                            [[$select.selected.name]]
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="item in responsibleList | filter: $select.search track by $index">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            <small>
                                                Tipo: <span
                                                    ng-bind-html="''+item.type | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                <span class="error text-small block"
                                      ng-if="Form.responsibleTracking.$dirty && Form.responsibleTracking.$invalid">El registro es requerido</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom-15">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-primary btn-o" ng-click="cancelEdition()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading border-light">
                        <h4 class="panel-title"><span class="text-bold">SEGUIMIENTOS</span></h4>

                        <div class="panel-tools">
                            <a href='#' class="btn btn-primary btn-o btn-sm" ng-if="!isView" tooltip-placement='top' uib-tooltip="Adicionar" ng-click="onAddTracking()">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <div class="table-responsive">

                                        <table datatable="" width="100%" 
                                            dt-instance="dtInstanceCustomerImprovementPlanTrackingCallback" 
                                            dt-options="dtOptionsCustomerImprovementPlanTracking"
                                            dt-columns="dtColumnsCustomerImprovementPlanTracking" 
                                            id="dtCustomerImprovementPlanTracking"
                                            class="table table-bordered table-hover"></table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </form>

</div>