<form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
    <div class="modal-body">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading border-light">
                        <div class="col-md-11 padding-left-0">
                            <span class="text-bold text-large text-label">[[ entity.name ]]</span>
                        </div>
                        <div class="col-md-1">
                            <span class="text-small" ng-if="!entity.isHistorical"
                                ng-class="{'has-success': !entity.isClosed}">[[
                                entity.isClosed ? 'Cerrado' : 'Abierto' ]]</span>
                            <span class="text-small" ng-if="entity.isHistorical">[[
                                entity.executionDate | date : "dd/MM/yyyy" ]]</span>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid}">
                                    <label class="control-label text-bold text-large">
                                        Nombre del plan<span class="symbol required"></span>
                                    </label>
                                    <input type="text" placeholder="Ingrese el registro" maxlength="120" class="form-control"
                                        name="name" ng-model="entity.name" required />
                                    <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">
                                        El registro es requerido
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"
                                    ng-class="{'has-error':Form.description.$dirty && Form.description.$invalid}">
                                    <label class="control-label text-bold text-large">
                                        Descripción<span class="symbol required"></span>
                                    </label>
                                    <textarea type="text" placeholder="Ingresar la descripción" class="form-control" name="description"
                                        ng-model="entity.description" required></textarea>
                                    <span class="error text-small block"
                                        ng-if="Form.description.$dirty && Form.description.$invalid">
                                        El registro es requerido
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group" ng-class="{'has-error':Form.responsible.$dirty && Form.responsible.$invalid}">
                                    <label class="control-label text-bold text-large">Responsable<span
                                            class="symbol required"></span></label>

                                    <ui-select name="responsible" ng-required="true"
                                        ng-model="entity.responsible" theme="bootstrap">
                                        <ui-select-match placeholder="- Seleccionar -">
                                            [[$select.selected.name]]
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in responsibleList | filter: $select.search track by $index">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            <small>
                                                Tipo: <span ng-bind-html="''+item.type | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>

                                    <span class="error text-small block" ng-if="Form.responsible.$dirty && Form.responsible.$invalid">
                                        El registro es requerido
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"
                                    ng-class="{'has-error':Form.budget.$dirty && Form.budget.$invalid}">
                                    <label class="control-label text-bold text-large">Presupuesto<span
                                            class="symbol required"></span></label>
                                    <input type="text" placeholder="Ingresar valor evento" class="form-control"
                                           name="budget"
                                           ui-money-mask="0" ng-model="entity.budget" required />
                                    <span class="error text-small block"
                                        ng-if="Form.budget.$dirty && Form.budget.$invalid">
                                        El registro es requerido
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row  margin-bottom-20">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error':Form.executionDate.$dirty && Form.executionDate.$invalid}">
                                    <label class="control-label text-bold text-large">Fecha de ejecución<span
                                            class="symbol required"></span></label>
                                    <input class="form-control" name='executionDate'
                                           kendo-date-picker
                                           k-options="datePickerConfig"
                                           ng-model="entity.executionDate"
                                           style="width: 100%;" required />

                                    <span class="error text-small block" ng-if="Form.executionDate.$dirty && Form.executionDate.$invalid">
                                        El registro es requerido
                                    </span>
                                </div>
                            </div>
                        </div>

                        <hr class="margin-vertical-20">

                        <div class="row">
                            <div class="col-md-12 margin-bottom-5" ng-repeat="item in entity.files">
                                <a class="btn-link" href="#" ng-click="onDownload(item.id)">
                                    <i class="glyphicon glyphicon-paperclip"></i>
                                    [[ item.name ]]
                                </a>
                            </div>
                        </div>

                        <hr class="margin-bottom-10" ng-if="entity.files.length > 0">

                        <div class="row">
                            <div class="col-md-12 margin-bottom-5" ng-repeat="item in fileUploader.queue">
                                <span><i class="glyphicon glyphicon-paperclip"></i> [[ item.file.name ]]</span>
                                <button type="button" class="btn btn-danger btn-xs" uib-tooltip="Eliminar"
                                    tooltip-placement='left' ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>

                        <div class="row margin-bottom-20">
                            <div class="col-md-12">
                                <span class="btn-link btn-file">
                                    <i class="fa fa-plus-circle"></i>
                                    Adjuntar evidencia
                                    <input type="file" accept=".xlsx,.xls,image/*,.doc,.docx,.pdf" nv-file-select=""
                                        uploader="fileUploader" multiple />
                                </span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label text-bold text-large">
                                        Estado del plan
                                    </label>
                                    <div class="checkbox" style="margin-top: 0px !important;">
                                        <span class="control-label col-md-1 no-padding margin-top-5 text-label">Cerrado</span>
                                        <switch ng-model="entity.isClosed" on="Si" off="No" class="green"
                                                disabled="entity.isClosedOriginal">
                                        </switch>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row margin-top-15" ng-if="!entity.isClosedOriginal">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary btn-block" ng-disabled='Form.$invalid'>
                                    Guardar
                                </button>
                            </div>
                            <div class="col-md-8">
                                <div class="pull-right">
                                    <a class="btn-link link-underline" href="#" ng-if="false"
                                        ng-click="onRemoveIntervention(intervention)">
                                        Borrar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <iframe id="downloadIntervention" style='position:fixed;display:none;top:-1px;left:-1px;' />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-o" ng-click="onCancel()">
            Cancelar
        </button>
    </div>
</form>