<div class="container-fluid container-fullw bg-white">
    <div ng-controller="positivaFgnIndicatorsCtrl">

        <div class="col-md-12 padding-top-20 margin-top-10">
            <uib-tabset justified="true" class="tabbable">
                <uib-tab index="0">
                    <uib-tab-heading>
                        <h4 class="text-bold no-margin text-info"> Indicadores Generales </h4>
                    </uib-tab-heading>


                    <form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">

                        <!-- filter -->
                        <div class="row">

                            <div class="form-group col-md-2"
                                ng-class="{'has-error':Form.sectional.$dirty && Form.sectional.$invalid}">
                                <label class="control-label">Periodo<span class="symbol required"></span></label>
                                <ui-select name="period" ng-model="entity.period" ng-required="true" theme="bootstrap">
                                    <ui-select-match placeholder="- Seleccionar -">
                                        [[$select.selected.item]]
                                    </ui-select-match>
                                    <ui-select-choices
                                        repeat="item in periodList | filter: $select.search track by $index">
                                        <div ng-bind-html="item.item | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group col-md-4"
                                ng-class="{'has-error':Form.sectional.$dirty && Form.sectional.$invalid}">
                                <label class="control-label">Seccional<span class="symbol required"></span></label>
                                <ui-select name="sectional" ng-required="true" ng-model="entity.sectional"
                                    theme="bootstrap">
                                    <ui-select-match placeholder="- Opción -">
                                        [[$select.selected.item]]
                                    </ui-select-match>
                                    <ui-select-choices
                                        repeat="item in sectionalList | filter: $select.search track by $index">
                                        <div ng-bind-html="item.item | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group col-md-4"
                                ng-class="{'has-error':Form.eje.$dirty && Form.eje.$invalid}">
                                <label class="control-label">Eje<span class="symbol required"></span></label>
                                <ui-select name="axis" ng-required="true" ng-model="entity.axis" theme="bootstrap">
                                    <ui-select-match placeholder="- Opción -">
                                        [[$select.selected.item]]
                                    </ui-select-match>
                                    <ui-select-choices
                                        repeat="item in axisList | filter: $select.search track by $index">
                                        <div ng-bind-html="item.item | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="col-md-2">
                                <br>
                                <div class="float-right">
                                    <button type="submit" class="btn btn-info">Buscar</button>
                                    <button type="button" class="btn btn-info btn-o"
                                        ng-click="form.reset()">Limpiar</button>
                                </div>
                            </div>

                        </div>
                    </form>


                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="float-right">
                                <button type="button" ng-click="onConsolidate()" class="btn btn-primary" ng-disabled="validateConsolidated()">
                                    Consolidar Indicadores
                                </button>
                            </div>
                        </div>
                    </div>


                    <!-- graphics -->
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <canvas tc-chartjs-bar chart-data="chart.complianceBySectional"
                                chart-options="chart.bar.options" class="tc-chart" height="120"></canvas>
                        </div>
                    </div>


                    <div class="row" ng-if="actionList.length">
                        <uib-tabset class="tabbable">
                            <uib-tab active="activeTabIndex==0" class="parentTab[[$index]]" ng-repeat="action in actionList">
                                <uib-tab-heading>
                                    <b>[[ action.action ]]</b>
                                </uib-tab-heading>

                                <div class="row">
                                    <div class="col-md-4" ng-repeat="activity in action.activities">
                                        <div class="panel panel-white">
                                            <div class="panel-heading border-light"> <b>[[ activity.activity ]]</b>
                                            </div>
                                            <div class="panel-body">
                                                <div ng-repeat="indicator in activity.indicators">

                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <b>[[ indicator.indicator ]]</b>
                                                            </div>
                                                        </div>

                                                        <div class="row ">
                                                            <div class="col-md-9">
                                                                <uib-progressbar animate="true"
                                                                    value="[[indicator.values.percentage]]"
                                                                    type="[[ indicator.values.percentage > 75 ? 'success' : indicator.values.percentage <= 50 ? 'danger' : 'warning' ]]">
                                                                </uib-progressbar>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="label">
                                                                    <b
                                                                        class="text-info fa-2x">[[indicator.values.percentage]]</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </uib-tab>
                        </uib-tabset>
                    </div>


                </uib-tab>

                <!--
            <uib-tab index="1">
                <uib-tab-heading>
                    <h4 class="text-bold no-margin text-info"> Resumen </h4>
                </uib-tab-heading>

                <div class="row">

                </div>

            </uib-tab>-->

            </uib-tabset>
        </div>


    </div>
</div>