<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="Clientes">Clientes</h1>
            <span class="mainDescription">Desde aquí podrá administrar la información de los clientes.</span>
        </div>
        <!--<div ncy-breadcrumb></div>-->
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: RESPONSIVE TABLE -->
<div class="container-fluid container-fullw bg-white" ng-controller="customerCtrl">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-wide btn-green" href="#" ng-click="createCustomer()" ng-if="can('clientes_create')">
                <i class="glyphicon glyphicon-plus"></i> Crear cliente
            </a>
        </div>
    </div>
    <div class="row" ng-if="showDataTable">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable="" width="100%" 
                    dt-instance="dtInstanceCustomerCallback" 
                    dt-options="dtOptionsCustomer" 
                    dt-columns="dtColumnsCustomer"
                    id="dtCustomer" 
                    class="table table-bordered table-hover"></table>
            </div>
        </div>
    </div>
</div>
<!-- end: RESPONSIVE TABLE -->