<form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">

    <div class="modal-body">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading border-light">
                        <h4 class="panel-title"><span class="text-bold">DATOS BÁSICOS</span></h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error':Form.type.$dirty && Form.type.$invalid}">
                                    <label class="control-label" translate="grid.matrix.WORK-PLACE">Seleccione el centro
                                        de Trabajo<span class=""></span></label>

                                    <ui-select name="type" ng-disabled="isView"
                                        ng-model="entity.workplace"
                                        theme="bootstrap">
                                        <ui-select-match placeholder="- Seleccionar -">
                                            [[$select.selected.name]]
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="item in workplaceList | filter: $select.search track by $index">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="radio clip-radio radio-primary">
                                    <input type="radio" id="workplace" name="inline" value="C" ng-model="entity.module">
                                    <label for="workplace">
                                        Centro de Trabajo
                                    </label>
                                </div>
                    
                                <div class="radio clip-radio radio-primary">
                                    <input type="radio" id="process" name="inline" value="P" ng-model="entity.module">
                                    <label for="process">
                                        Centro de Trabajo y Procesos
                                    </label>
                                </div>

                                <div class="radio clip-radio radio-primary">
                                    <input type="radio" id="job" name="inline" value="J" ng-model="entity.module">
                                    <label for="job">
                                        Centro de Trabajo, Procesos y Cargos
                                    </label>
                                </div>

                                <div class="radio clip-radio radio-primary">
                                    <input type="radio" id="activity" name="inline" value="A" ng-model="entity.module">
                                    <label for="activity">
                                        Centro de Trabajo, Procesos, Cargos y Actividades
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-o" ng-click="onCancel()">
            Cancelar
        </button>

        <button type="submit" class="btn btn-primary" ng-if="!isView" ng-disabled="Form.$invalid">
            Duplicar
        </button>
    </div>
</form>