<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="Anexos Planes de Trabajo Internos">Anexos Planes de Trabajo Internos</h1>
            <span class="mainDescription">Desde aquí podrá administrar los anexos de los planes de trabajos internos de
                la
                empresa.</span>
        </div>
        <!--<div ncy-breadcrumb></div>-->
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">

            <div ng-controller="internalProjectAttachmentCtrl">
                <form name="Form" novalidate ng-submit="form.submit(Form)">

                    <div class="container-fluid container-fullw bg-white" ng-if="isAdmin || isAgent">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>
                                        <h5 class="over-title margin-bottom-15">
                                            Filtrar <span class="text-bold">por cliente</span>
                                        </h5>
                                    </label>

                                    <div class="input-group">
                                        <ui-select ng-disabled="isview" ng-model="filter.selectedCustomer"
                                            theme="bootstrap" on-select="onSelectCustomer()">
                                            <ui-select-match placeholder="- Seleccionar -">
                                                [[$select.selected.item]]
                                            </ui-select-match>
                                            <ui-select-choices
                                                repeat="item in customerList | filter: $select.search track by $index">
                                                <div ng-bind-html="item.item | highlight: $select.search">
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="onSearchCustomer()" class="btn btn-default"
                                                uib-tooltip="Buscar cliente">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                            <button type="button" ng-click="onClearCustomer()" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-heading border-light">
                                    <h4 class="panel-title"><span class="text-bold">DATOS BÁSICOS</span></h4>
                                </div>

                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group"
                                                ng-class="{'has-error':Form.type.$dirty && Form.type.$invalid}">
                                                <label class="control-label">Tipo de documento<span
                                                        class="symbol required"></span></label>
                                                <ui-select ng-disabled="isView" ng-model="attachment.type"
                                                    theme="bootstrap" name="type" ng-required="true">
                                                    <ui-select-match placeholder="- Seleccionar -">
                                                        [[$select.selected.item]]
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                        repeat="item in documentType | orderBy:'id' | filter: $select.search track by $index">
                                                        <div ng-bind-html="item.item | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="error text-small block"
                                                    ng-if="Form.type.$dirty && Form.type.$invalid">El registro es
                                                    requerido</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group"
                                                ng-class="{'has-error':Form.classification.$dirty && Form.classification.$invalid}">
                                                <label class="control-label">Clasificación</label>
                                                <ui-select ng-disabled="isView" ng-model="attachment.classification"
                                                    theme="bootstrap">
                                                    <ui-select-match placeholder="- Seleccionar -">
                                                        [[$select.selected.item]]
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                        repeat="item in documentClassification | orderBy:'id' | filter: $select.search track by $index">
                                                        <div ng-bind-html="item.item | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group"
                                                ng-class="{'has-error':Form.description.$dirty && Form.description.$invalid}">
                                                <label class="control-label">Descripción<span
                                                        class="symbol required"></span></label>
                                                <input ng-disabled="isView" type="text"
                                                    placeholder="Ingrese la descripción" class="form-control"
                                                    name="description" ng-model="attachment.description" required />
                                                <span class="error text-small block"
                                                    ng-if="Form.description.$dirty && Form.description.$invalid">La
                                                    descripción es requerida</span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group"
                                                ng-class="{'has-error':Form.version.$dirty && Form.version.$invalid}">
                                                <label class="control-label">
                                                    Versión <span class="symbol required"></span>
                                                </label>
                                                <input ng-disabled="true" type="text" placeholder="Versión"
                                                    class="form-control" name="version" touchspin=""
                                                    data-verticalbuttons="true" data-max="1000000000"
                                                    data-verticalupclass="ti-angle-up"
                                                    data-verticaldownclass="ti-angle-down" ng-model="attachment.version"
                                                    required />
                                                <span class="error text-small block"
                                                    ng-if="Form.version.$dirty && Form.version.$invalid">La
                                                    versión del anexo es requerida</span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group"
                                                ng-class="{'has-error':Form.status.$dirty && Form.status.$invalid}">
                                                <label class="control-label">Estado</label>
                                                <ui-select ng-disabled="true" ng-model="attachment.status"
                                                    theme="bootstrap">
                                                    <ui-select-match placeholder="- Seleccionar -">
                                                        [[$select.selected.item]]
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                        repeat="item in documentStatus | orderBy:'id' | filter: $select.search track by $index">
                                                        <div ng-bind-html="item.item | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">

                                            <p>
                                                Cantidad anexos: [[ uploader.queue.length ]]
                                            </p>

                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="50%">Nombre</th>
                                                            <th ng-show="uploader.isHTML5">Tamaño</th>
                                                            <th ng-show="uploader.isHTML5">Progreso</th>
                                                            <th>Estado</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in uploader.queue">
                                                            <td><strong>[[ item.file.name ]]</strong></td>
                                                            <td ng-show="uploader.isHTML5" nowrap>[[
                                                                item.file.size/1024/1024|number:2
                                                                ]] MB
                                                            </td>
                                                            <td ng-show="uploader.isHTML5">
                                                                <div class="progress progress-xs margin-bottom-0">
                                                                    <div class="progress-bar" role="uib-progressbar"
                                                                        ng-style="{ 'width': item.progress + '%' }">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center"><span ng-show="item.isSuccess"><i
                                                                        class="glyphicon glyphicon-ok"></i></span><span
                                                                    ng-show="item.isCancel"><i
                                                                        class="glyphicon glyphicon-ban-circle"></i></span><span
                                                                    ng-show="item.isError"><i
                                                                        class="glyphicon glyphicon-remove"></i></span>
                                                            </td>
                                                            <td nowrap>

                                                                <button type="button" class="btn btn-danger btn-xs"
                                                                    ng-click="item.remove()">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                    Remover
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>

                                                <span class="btn btn-primary btn-o btn-file"> Seleccionar anexo
                                                    <input type="file" nv-file-select="" uploader="uploader"
                                                        ng-disabled="uploader.getNotUploadedItems().length > 0"
                                                        multiple />
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-bottom-15">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary" ng-if="!isView && attachment.id > 0">
                                    Guardar
                                </button>
                                <button type="button" class="btn btn-primary btn-o" ng-click="onClear()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-heading border-light">
                                <h4 class="panel-title"><span class="text-bold">ANEXOS</span></h4>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-wide btn-primary" href="#" ng-click="reloadData()"><i
                                                class="glyphicon glyphicon-refresh"></i>
                                            Refrescar</a>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <div class="checkbox clip-check check-success check-md checkbox-inline">
                                                <input type="checkbox" id="customerAttachment"
                                                    ng-model="$storage.hideCustomerInternalProjectAttachmentCanceled"
                                                    ng-change="onShowCancelledChange()">
                                                <label for="customerAttachment">
                                                    Ocultar Anulados
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <div class="table-responsive">
                                                <table datatable="" width="100%"
                                                    dt-instance="dtInstanceCustomerInternalProjectDocumentCallback"
                                                    dt-options="dtOptionsCustomerInternalProjectDocument"
                                                    dt-columns="dtColumnsCustomerInternalProjectDocument"
                                                    id="dtCustomerInternalProjectDocument"
                                                    class="table table-bordered table-hover"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <iframe id="download" style='position:fixed;display:none;top:-1px;left:-1px;' />
        </div>
    </div>
</div>