<div ng-controller="dashboardDiagnosticCustomerEmployeeAbsenteeismCtrl">

    <div class="panel-heading border-light">
        <h4 class="panel-title text-primary">ANÁLISIS DE EVENTOS - AUSENTISMO GENERAL</h4>
    </div>
    <div class="panel-body partition-light-grey">


        <div class="row display-flex flex-justify-end">

            <div class="col-md-2 form-group">
                <label class="control-label">Causa
                    <span class="symbol required"></span>
                </label>

                <ui-select name="workplace" ng-model="entity.cause" theme="bootstrap"
                           ng-required="true" on-select="onRefresh()">

                    <ui-select-match placeholder="- Seleccionar -">
                        [[$select.selected.item]]
                    </ui-select-match>

                    <ui-select-choices
                            repeat="cause in causes | filter: $select.search track by $index">
                        <div ng-bind-html="cause.item | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="col-md-2 form-group">
                <label class="control-label">Periodo
                    <span class="symbol required"></span>
                </label>

                <ui-select name="period" ng-model="entity.period" theme="bootstrap"
                           ng-required="true" on-select="onRefreshChart()">

                    <ui-select-match placeholder="- Seleccionar -">
                        [[$select.selected.item]]
                    </ui-select-match>

                    <ui-select-choices
                            repeat="period in periods | filter: $select.search track by $index">
                        <div ng-bind-html="period.item | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="col-md-2 form-group">
                <label class="control-label">Comparar Periodo</label>

                <div class="input-group">
                    <ui-select name="comparePeriod" ng-model="entity.comparePeriod" theme="bootstrap"
                               ng-required="true" on-select="onRefreshChart()">
                        <ui-select-match placeholder="- Seleccionar -">
                            [[$select.selected.item]]
                        </ui-select-match>

                        <ui-select-choices
                                repeat="comparePeriod in periods | filter: $select.search track by $index">
                            <div ng-bind-html="comparePeriod.item | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                        <button ng-click="onClearComparePeriod()" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-sm-12">
                <canvas class="tc-chart" tc-chartjs-line height="50"
                        chart-options="chart.line.options"
                        chart-data="chart.data.customerAbsenteeismDisabilityGeneralEvent"></canvas>
            </div>
        </div>

    </div>

</div>
