<div ng-controller="customerConfigJobListCtrl">

    <form name="Form" id="frmobs" novalidate ng-submit="form.submit(Form)">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading border-light">
                        <h4 class="panel-title"><span class="text-bold"> DATOS BÁSICOS </span></h4>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid}">
                                    <label class="control-label"> Cargo <span class="symbol required"></span></label>
                                    <input ng-disabled="isView" type="text" placeholder=" Ingrese el cargo " class="form-control"
                                        name="name" ng-model="entity.name" required />
                                    <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">
                                        El registro es requerido 
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" ng-class="{'has-error':Form.status.$dirty && Form.status.$invalid}">
                                    <label class="control-label">Estado<span class="symbol required"></span></label>

                                    <ui-select name="status" ng-required="true" ng-disabled="isView" ng-model="entity.status"
                                        theme="bootstrap">
                                        <ui-select-match placeholder=" - Seleccionar - ">
                                            [[$select.selected.item]]
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in status | filter: $select.search track by $index">
                                            <div ng-bind-html="item.item | highlight: $select.search"></div>

                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="error text-small block" ng-if="Form.status.$dirty && Form.status.$invalid">
                                        El registro es requerido
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom-15">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-if="!isView">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-primary btn-o" ng-click="onCancel()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading border-light">
                    <h4 class="panel-title"><span class="text-bold"> CARGOS </span></h4>
                    <div class="panel-tools">
                        <a href='#' class="btn btn-primary btn-o btn-sm" tooltip-placement='top' uib-tooltip=" Refrescar "
                            ng-click="reloadData()"><i class="fa fa-refresh"></i>
                        </a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="table-responsive">
                                    <table datatable="" width="100%" 
                                        dt-instance="dtInstanceConfigJobCallback"
                                        dt-options="dtOptionsConfigJob" 
                                        dt-columns="dtColumnsConfigJob" 
                                        id="dtConfigJob"
                                        class="table table-bordered table-hover"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>