<div class="tab3" ng-controller="customerUnitCtrl">
    <form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
        <div class="row" ng-repeat="bunit in customer.unities | orderBy : 'item'">

            <div class="col-md-12">
                <div class="panel panelclone panel-white panelAgents" data-parent="[[$index]]">
                    <div class="panel-heading border-light">
                        <h4 class="panel-title">
                            <span class="text-bold">[[bunit.item]]</span>
                        </h4>

                        <div class="panel-tools">
                            <a href='#' class="btn btn-primary btn-o btn-sm" tooltip-placement='top' uib-tooltip="Adicionar" ng-if="!isView" ng-click="addAgent(bunit)">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="row" ng-repeat="agent in bunit.agents">
                            <div class="" ng-class='{"col-md-11": bunit.agents.length > 1, "col-md-12" : (bunit.agents.length <= 1 || isView) }'>
                                <div class="form-group">
                                    <ui-select ng-disabled="isView" ng-model="agent.selected" theme="bootstrap">
                                        <ui-select-match placeholder="- Seleccionar -">
                                            [[$select.selected.name]]
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in agents | filter: $select.search track by $index">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>


                            <div class="col-md-1" ng-if="bunit.agents.length > 1 && !isView">
                                <div class="pull-right">
                                    <div class="form-group">
                                        <a href='#' class="btn btn-danger btn-o btn-sm" ng-if="bunit.agents.length > 1 && !isView" tooltip-placement='top' uib-tooltip="Eliminar"
                                            ng-click="removeAgent(bunit, $index)">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row" ng-class="{'show':loading != null, 'hid': loading == null }" ng-show="!loading">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-if="canEdit">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-primary btn-o" ng-click="cancelEdition()" ng-if="can('clientes_cancel')">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
