<div ng-controller="customerConfigProcessesCtrl">
    <form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading border-light">
                        <h4 class="panel-title"><span class="text-bold">DATOS BÁSICOS</span></h4>
                    </div>

                    <div class="panel-body">


                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':Form.type.$dirty && Form.type.$invalid}">
                                    <label class="control-label" translate="grid.matrix.WORK-PLACE">Centro de Trabajo<span class="symbol required"></span></label>

                                    <div class="input-group">
                                        <ui-select name="type" ng-required="true" ng-disabled="isView" ng-model="process.workplace"
                                            theme="bootstrap">
                                            <ui-select-match placeholder="- Seleccionar -">
                                                [[$select.selected.name]]
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in workplaces | filter: $select.search track by $index">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="refreshWorkPlace()" class="btn btn-default">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="error text-small block" ng-if="Form.type.$dirty && Form.type.$invalid">El
                                        registro es requerido</span>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':Form.macro.$dirty && Form.macro.$invalid}">
                                    <label class="control-label" translate="grid.matrix.MACROPROCESS">Macroproceso<span class="symbol required"></span></label>

                                    <div class="input-group">
                                        <ui-select name="macro" ng-required="true" ng-disabled="isView || macros.length == 0"
                                            ng-model="process.macro" theme="bootstrap">
                                            <ui-select-match placeholder="- Seleccionar -">
                                                [[$select.selected.name]]
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in macros | filter: $select.search track by $index">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="refreshMacro()" class="btn btn-default" ng-disabled="isView || macros.length == 0">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="error text-small block" ng-if="Form.macro.$dirty && Form.macro.$invalid">El
                                        registro es requerido</span>
                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid}">
                                    <label class="control-label" translate="grid.matrix.PROCESS">Proceso<span class="symbol required"></span></label>
                                    <input ng-disabled="isView" type="text" placeholder="Ingrese el registro" class="form-control"
                                        name="name" ng-model="process.name" required />
                                    <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">El
                                        registro es requerido</span>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group" ng-class="{'has-error':Form.status.$dirty && Form.status.$invalid}">
                                    <label class="control-label">Estado<span class="symbol required"></span></label>

                                    <ui-select name="status" ng-required="true" ng-disabled="isView" ng-model="process.status"
                                        theme="bootstrap">
                                        <ui-select-match placeholder="- Seleccionar -">
                                            [[$select.selected.item]]
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in status | filter: $select.search track by $index">
                                            <div ng-bind-html="item.item | highlight: $select.search"></div>

                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="error text-small block" ng-if="Form.status.$dirty && Form.status.$invalid">El
                                        registro es requerido</span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom-15">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-if="!isView">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-primary btn-o" ng-click="clear()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading border-light">
                    <h4 class="panel-title"><span class="text-bold text-uppercase" translate="views.MATRIX-PROCESS-LIST"></span></h4>
                    <div class="panel-tools">
                        <a href='#' class="btn btn-primary btn-o btn-sm" tooltip-placement='top' uib-tooltip="Refrescar"
                            ng-click="reloadData()"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="table-responsive">
                                    <table datatable="" width="100%" dt-instance="dtInstanceConfigProcess" dt-options="dtOptionsConfigProcess"
                                        dt-columns="dtColumnsConfigProcess" id="dtConfigProcess" class="table table-bordered table-hover"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>