<div ng-controller="customerAbsenteeismAnalysisResolution0312Ctrl">

    <div class="row margin-bottom-15">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading border-light">
                    <h4 class="panel-title"><span class="text-bold">MATRIZ DE INDICADORES</span></h4>
                </div>

                <div class="panel-body">

                    <div class="row margin-bottom-15">
                        <div class="col-md-6">

                            <a class="btn btn-wide btn-success" href="#" ng-click="onConsolidate()"><i
                                    class="glyphicon glyphicon-plus"></i>
                                Consolidar información</a>

                        </div>

                        <div class="col-md-6">
                                <div class="pull-right">
                                    <a class="btn btn-wide btn-success btn-o" href="#" ng-click="reloadData()"><i class="glyphicon glyphicon-refresh"></i>
                                        Refrescar</a>

                                    <button type="button" class="btn btn-success btn-o" ng-click="onExportExcel('MA')">
                                        Exportar Excel
                                    </button>
                                </div>
                            </div>                        
                    </div>

                    <div class="row margin-top-15">
                        <div class="col-md-12">
                            <div kendo-grid="grid" class="k-parent" parent-width k-options="mainGridOptions"
                                k-ng-delay="mainGridOptions">
                                <div k-detail-template>
                                    <h5 class="text-orange">Detalles por Centro de Trabajo</h5>
                                    <div kendo-grid="gridItem" name="gridChild" class="hide-grid-header"
                                        k-options="detailGridOptions(dataItem)">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="partition-light-grey padding-15 text-center margin-bottom-20">
        <h4 class="no-margin"><span class="text-bold">GRÁFICAS</span></h4>
        <span class="text-light"></span>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <div class="form-group">
                <label>
                    Filtrar por año
                </label>
                <ui-select ng-disabled="isView" ng-model="filter.selectedYear" theme="bootstrap"
                    on-select="onSelectYear()">
                    <ui-select-match placeholder="- Seleccionar -">
                        [[$select.selected.item]]
                    </ui-select-match>
                    <ui-select-choices repeat="item in years | filter: $select.search track by $index">
                        <div ng-bind-html="item.item | highlight: $select.search">
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="col-md-2">
            <label>
                Comparar con los siguientes periodos:
            </label>

            <div class="checkbox" style="margin-top: 0px !important;">
                <switch disabled="isView" ng-model="filter.canCompare" class="green" ng-change="onChangeCompare()">
                </switch>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-white margin-5" ng-if="filter.canCompare">

                <div class="panel-heading border-light">
                    <h4 class="panel-title">
                        <span class="text-bold">PERIODO</span>
                    </h4>

                    <div class="panel-tools">
                        <a href='#' class="btn btn-primary btn-o btn-sm" tooltip-placement='top' uib-tooltip="Adicionar"
                            ng-click="onAddCompareYear()"><i class="fa fa-plus"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row" ng-repeat="year in filter.compareYearList">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error':Form.period.$dirty && Form.period.$invalid}">
                                <div class="input-group">
                                    <ui-select name="year" theme="bootstrap" ng-disabled="isView" ng-model="year.value"
                                        on-select="onSelectYear()">
                                        <ui-select-match placeholder="- Seleccionar -">
                                            [[$select.selected.item]]
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="item in compareYearList | filter: $select.search track by $index">
                                            <div ng-bind-html="item.item | highlight: $select.search">
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button ng-click="onRemoveCompareYear($index)" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-white" ng-if="isLoaded">
        <div class="panel-heading border-light">
            <h4 class="panel-title"><span class="text-bold">FRECUENCIA DE ACCIDENTALIDAD (FA)</span></h4>
        </div>

        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-o" ng-click="onExportPdf('FA')">
                                    Exportar PDF
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row export-pdf-frequency-accidentality">
                        <div class="col-sm-12">
                            <div class="text-center margin-bottom-15">
                                <canvas class="tc-chart" tc-chartjs-line chart-options="chart.line.options"
                                    chart-data="chart.frequencyAccidentality.data" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-o" ng-click="onExportExcel('FA')">
                                    Exportar Excel
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div class="table-responsive">
                                    <table datatable="" width="100%"
                                        dt-instance="dtInstanceFrequencyAccidentalityCallback"
                                        dt-options="dtOptionsFrequencyAccidentality"
                                        dt-columns="dtColumnsFrequencyAccidentality"
                                        id="dataTableAnalysisFrequencyAccidentality"
                                        class="table table-bordered table-hover"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-white" ng-if="isLoaded">
        <div class="panel-heading border-light">
            <h4 class="panel-title"><span class="text-bold">SEVERIDAD DE ACCIDENTALIDAD (SA)</span></h4>
        </div>

        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-o" ng-click="onExportPdf('SA')">
                                    Exportar PDF
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row export-pdf-severity-accidentality">
                        <div class="col-sm-12">
                            <div class="text-center margin-bottom-15">
                                <canvas class="tc-chart" tc-chartjs-line chart-options="chart.line.options"
                                    chart-data="chart.severityAccidentality.data" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-o" ng-click="onExportExcel('SA')">
                                    Exportar Excel
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div class="table-responsive">
                                    <table datatable="" width="100%"
                                        dt-instance="dtInstanceSeverityAccidentalityCallback"
                                        dt-options="dtOptionsSeverityAccidentality"
                                        dt-columns="dtColumnsSeverityAccidentality"
                                        id="dataTableAnalysisSeverityAccidentality"
                                        class="table table-bordered table-hover"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-white" ng-if="isLoaded">
        <div class="panel-heading border-light">
            <h4 class="panel-title"><span class="text-bold">PROPORCIÓN DE ACCIDENTES DE TRABAJO MORTALES (PAM)</span></h4>
        </div>

        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-o" ng-click="onExportPdf('PAM')">
                                    Exportar PDF
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row export-pdf-mortal-proportion-accidentality">
                        <div class="col-sm-12">
                            <div class="text-center margin-bottom-15">                                
                                <canvas class="tc-chart" tc-chartjs-bar chart-options="chart.bar.options"
                                    chart-data="chart.mortalProportionAccidentality.data" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-o" ng-click="onExportExcel('PAM')">
                                    Exportar Excel
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div class="table-responsive">
                                    <table datatable="" width="100%"
                                        dt-instance="dtInstanceMortalProportionAccidentalityCallback"
                                        dt-options="dtOptionsMortalProportionAccidentality"
                                        dt-columns="dtColumnsMortalProportionAccidentality"
                                        id="dataTableAnalysisMortalProportionAccidentality"
                                        class="table table-bordered table-hover"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-white" ng-if="isLoaded">
        <div class="panel-heading border-light">
            <h4 class="panel-title"><span class="text-bold">AUSENTISMO POR CAUSA MÉDICA (ACM)</span></h4>
        </div>

        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-o" ng-click="onExportPdf('ACM')">
                                    Exportar PDF
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row export-pdf-absenteeism-medical-cause">
                        <div class="col-sm-12">
                            <div class="text-center margin-bottom-15">
                                <canvas class="tc-chart" tc-chartjs-line chart-options="chart.line.options"
                                    chart-data="chart.absenteeismMedicalCause.data" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-o" ng-click="onExportExcel('ACM')">
                                    Exportar Excel
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div class="table-responsive">
                                    <table datatable="" width="100%"
                                        dt-instance="dtInstanceAbsenteeismMedicalCauseCallback"
                                        dt-options="dtOptionsAbsenteeismMedicalCause"
                                        dt-columns="dtColumnsAbsenteeismMedicalCause"
                                        id="dataTableAnalysisAbsenteeismMedicalCause"
                                        class="table table-bordered table-hover"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="panel panel-white" ng-if="isLoaded">
        <div class="panel-heading border-light">
            <h4 class="panel-title"><span class="text-bold">TASA DE LETALIDAD POR ENFERMEDAD LABORAL CALIFICADA (TL)</span></h4>
        </div>

        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-o" ng-click="onExportPdf('TL')">
                                    Exportar PDF
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row export-pdf-occupational-disease-fatality-rate">
                        <div class="col-sm-12">
                            <div class="text-center margin-bottom-15">
                                <canvas class="tc-chart" tc-chartjs-bar chart-options="chart.bar.options"
                                    chart-data="chart.occupationalDiseaseFatalityRate.data" height="200"></canvas>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-o" ng-click="onExportExcel('TL')">
                                    Exportar Excel
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div class="table-responsive">
                                    <table datatable="" width="100%"
                                        dt-instance="dtInstanceOccupationalDiseaseFatalityRateCallback"
                                        dt-options="dtOptionsOccupationalDiseaseFatalityRate"
                                        dt-columns="dtColumnsOccupationalDiseaseFatalityRate"
                                        id="dataTableAnalysisOccupationalDiseaseFatalityRate"
                                        class="table table-bordered table-hover"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-white" ng-if="isLoaded">
        <div class="panel-heading border-light">
            <h4 class="panel-title"><span class="text-bold">PREVALENCIA DE LA ENFERMEDAD LABORAL (PEL)</span></h4>
        </div>

        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-o" ng-click="onExportPdf('PEL')">
                                    Exportar PDF
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row export-pdf-occupational-disease-prevalence">
                        <div class="col-sm-12">
                            <div class="text-center margin-bottom-15">
                                <canvas class="tc-chart" tc-chartjs-bar chart-options="chart.bar.options"
                                    chart-data="chart.occupationalDiseasePrevalence.data" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-o" ng-click="onExportExcel('PEL')">
                                    Exportar Excel
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div class="table-responsive">
                                    <table datatable="" width="100%"
                                        dt-instance="dtInstanceOccupationalDiseasePrevalenceCallback"
                                        dt-options="dtOptionsOccupationalDiseasePrevalence"
                                        dt-columns="dtColumnsOccupationalDiseasePrevalence"
                                        id="dataTableAnalysisOccupationalDiseasePrevalence"
                                        class="table table-bordered table-hover"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="panel panel-white" ng-if="isLoaded">
        <div class="panel-heading border-light">
            <h4 class="panel-title"><span class="text-bold">INCIDENCIA DE LA ENFERMEDAD LABORAL (IEL)</span></h4>
        </div>

        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-o" ng-click="onExportPdf('IEL')">
                                    Exportar PDF
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row export-pdf-occupational-disease-incidence">
                        <div class="col-sm-12">
                            <div class="text-center margin-bottom-15">
                                <canvas class="tc-chart" tc-chartjs-bar chart-options="chart.bar.options"
                                    chart-data="chart.occupationalDiseaseIncidence.data" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-o" ng-click="onExportExcel('IEL')">
                                    Exportar Excel
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div class="table-responsive">
                                    <table datatable="" width="100%"
                                        dt-instance="dtInstanceOccupationalDiseaseIncidenceCallback"
                                        dt-options="dtOptionsOccupationalDiseaseIncidence"
                                        dt-columns="dtColumnsOccupationalDiseaseIncidence"
                                        id="dataTableAnalysisOccupationalDiseaseIncidence"
                                        class="table table-bordered table-hover"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <iframe id="download" style='position:fixed;display:none;top:-1px;left:-1px;' src="" />
</div>