<div ui-view="" class="fade-in-right-big">
    <!-- start: FORM BODY -->
    <div class="container-fluid container-fullw bg-white">

        <div class="row" ng-controller="ConfigurationPrioritizationFactorFormCtrl">

            <form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">

                <fieldset class="custom-field-set">
                    <legend>Posibles Combinaciones</legend>

                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group"
                                 ng-class="{'has-error':Form.probability.$dirty && Form.probability.$invalid}">
                                <label class="control-label">Probabilidad de ocurrencia<span
                                        class=""></span></label>

                                <ui-select name="probability" ng-disabled="isView"
                                           ng-model="cause.probabilityOccurrence" theme="bootstrap">
                                    <ui-select-match placeholder="- Seleccionar -">
                                        [[$select.selected.item]]
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in probabilityOccurrenceList | filter: $select.search track by $index">
                                        <div ng-bind-html="item.item | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                    <span class="error text-small block"
                                          ng-if="Form.probability.$dirty && Form.probability.$invalid">El registro es requerido</span>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="form-group"
                                 ng-class="{'has-error':Form.effect.$dirty && Form.effect.$invalid}">
                                <label class="control-label">Efecto<span
                                        class=""></span></label>

                                <ui-select name="effect" ng-disabled="isView"
                                           ng-model="cause.effect" theme="bootstrap">
                                    <ui-select-match placeholder="- Seleccionar -">
                                        [[$select.selected.item]]
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in effectList | filter: $select.search track by $index">
                                        <div ng-bind-html="item.item | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                    <span class="error text-small block"
                                          ng-if="Form.effect.$dirty && Form.effect.$invalid">El registro es requerido</span>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="form-group"
                                 ng-class="{'has-error':Form.level.$dirty && Form.level.$invalid}">
                                <label class="control-label">Nivel de detección<span
                                        class=""></span></label>

                                <ui-select name="level" ng-disabled="isView"
                                           ng-model="cause.detectionLevel" theme="bootstrap">
                                    <ui-select-match placeholder="- Seleccionar -">
                                        [[$select.selected.item]]
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in levelList | filter: $select.search track by $index">
                                        <div ng-bind-html="item.item | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                    <span class="error text-small block"
                                          ng-if="Form.level.$dirty && Form.level.$invalid">El registro es requerido</span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <hr>

                <fieldset>
                    <legend>Factor de Priorización:</legend>


                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group"
                                 ng-class="{'has-error':Form.value.$dirty && Form.value.$invalid}">
                                <label class="control-label">Resultado<span
                                        class="symbol required"></span></label>
                                <input type="text" placeholder="" ng-disabled="true"
                                       class="form-control" name="value"
                                       ng-model="parameter.value" required/>

                            <span class="error text-small block"
                                  ng-if="Form.value.$dirty && Form.value.$invalid">El resultado es requerido</span>
                            </div>
                        </div>

                        <div class="col-md-10">
                            <div class="form-group"
                                 ng-class="{'has-error':Form.description.$dirty && Form.description.$invalid}">
                                <label class="control-label">Descripción<span
                                        class="symbol required"></span></label>
                                <input type="text" placeholder="Ingrese la descripción"
                                       class="form-control" name="description"
                                       ng-model="parameter.item" required/>

                            <span class="error text-small block"
                                  ng-if="Form.description.$dirty && Form.description.$invalid">La descripción es requerida</span>
                            </div>
                        </div>

                    </div>

                </fieldset>

                <div class="row margin-bottom-15">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-info" ng-if="!isView">
                                Guardar
                            </button>
                            <button type="button" class="btn btn-info btn-o" ng-click="onCancel()">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>

            </form>

            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="table-responsive">
                            <table datatable="" width="100%"
                                   dt-instance="dtInstanceComplementaryTestCallback"
                                   dt-options="dtOptionsComplementaryTest"
                                   dt-columns="dtColumnsComplementaryTest"
                                   id="dtComplementaryTest"
                                   class="table table-bordered table-hover"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: FORM BODY -->
</div>