<div ng-controller="customerOccupationalReportIncidentAnalysisCtrl">

    <div class="row">
        <div class="col-sm-9">

        </div>
        <div class="col-sm-3">

            <div class="form-group">
                <label>
                    <h5 class="over-title margin-bottom-15">Filtrar <span class="text-bold">por año</span></h5>
                </label>

                <div class="input-group">
                    <ui-select ng-disabled="isView" ng-model="filter.selectedYear" theme="bootstrap"
                        on-select="changeYear($item, $model)">
                        <ui-select-match placeholder="- Seleccionar -">
                            [[$select.selected.item]]
                        </ui-select-match>
                        <ui-select-choices repeat="item in years | filter: $select.search track by $index">
                            <div ng-bind-html="item.item | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button ng-click="clearYear()" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-white">
        <div class="panel-heading border-light">
            <h4 class="panel-title"><span class="text-bold">ANÁLISIS DE INDICADORES</span></h4>
        </div>

        <div class="panel-body">

            <div class="row">

                <div class="col-sm-12">


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-center margin-bottom-15">
                                <h5 class="over-title margin-bottom-15">Jornada <span class="text-bold">en que
                                        sucede</span>
                                </h5>
                                <canvas class="tc-chart" tc-chartjs-bar chart-options="chart.bar.options"
                                    chart-data="chart.workTime.data" chart-legend="barChart2" height="200">
                                </canvas>
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="text-center margin-bottom-15">
                                <h5 class="over-title margin-bottom-15">Día <span class="text-bold">de ocurrencia</span>
                                </h5>
                                <canvas class="tc-chart" tc-chartjs-bar chart-options="chart.bar.options"
                                    chart-data="chart.weekDay.data" chart-legend="barChart3" height="200">
                                </canvas>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="text-center margin-bottom-15">
                        <h5 class="over-title margin-bottom-15">Sitio <span class="text-bold">de ocurrencia</span>
                        </h5>
                        <canvas class="tc-chart" tc-chartjs-bar chart-options="chart.bar.options"
                            chart-data="chart.place.data" chart-legend="barChart4" height="200">
                        </canvas>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="text-center margin-bottom-15">
                        <h5 class="over-title margin-bottom-15">Agente <span class="text-bold">del incidente</span>
                        </h5>
                        <canvas class="tc-chart" tc-chartjs-bar chart-options="chart.bar.options"
                            chart-data="chart.factor.data" chart-legend="barChart7" height="200">
                        </canvas>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="text-center margin-bottom-15">
                        <h5 class="over-title margin-bottom-15">Incidentes <span class="text-bold">Abiertos / Cerrados</span>
                        </h5>
                        <canvas class="tc-chart" tc-chartjs-pie chart-options="chart.doughnut.options" chart-data="chart.status.data"
                            chart-legend="pieChart1" height="200">
                        </canvas>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-o" ng-click="cancelEdition()">
                    Regresar
                </button>
            </div>
        </div>
    </div>
    <iframe id="downloadDocument" style='position:fixed;display:none;top:-1px;left:-1px;' />

</div>