<div ng-controller="certificateAdminTabsCtrl">


    <!-- start: PAGE TITLE -->
    <section id="page-title">

        <div class="row" ng-if="tabname=='program'">

            <div class="col-sm-10" ng-if="titletab == 'list'">
                <h1 class="mainTitle">Programas</h1>
                <span class="mainDescription">Desde este formulario usted podrá crear la información del programa seleccionado</span>
            </div>

            <div class="col-sm-10" ng-if="titletab == 'create'">
                <h1 class="mainTitle">Creación del Programa</h1>
                <span class="mainDescription">Desde este formulario usted podrá crear la información del programa seleccionado</span>
            </div>

            <div class="col-sm-10" ng-if="titletab == 'edit'">
                <h1 class="mainTitle">Actualización del Programa</h1>
                <span class="mainDescription">Desde este formulario usted podrá actualizar la información del programa seleccionado</span>
            </div>


            <div class="col-sm-10" ng-if="titletab == 'view'">
                <h1 class="mainTitle">Información del programa</h1>
                <span class="mainDescription">Desde este formulario usted podrá visualizar la información del programa seleccionado</span>

            </div>

        </div>

        <div class="row" ng-if="tabname=='grade'">
            <div class="col-sm-10" ng-if="titletab == 'list'">
                <h1 class="mainTitle" translate="Cursos">Cursos</h1>
                <span class="mainDescription">Desde aquí podrá administrar los seguimientos del cliente.</span>
            </div>

            <div class="col-sm-10" ng-if="titletab == 'create'">
                <h1 class="mainTitle">Creación del Curso</h1>
                <span class="mainDescription">Desde este formulario usted podrá crear la información del curso seleccionado</span>
            </div>

            <div class="col-sm-10" ng-if="titletab == 'edit'">
                <h1 class="mainTitle">Actualización del Curso</h1>
                <span class="mainDescription">Desde este formulario usted podrá actualizar el curso seleccionado</span>
            </div>

            <div class="col-sm-10" ng-if="titletab == 'view'">
                <h1 class="mainTitle">Información del Curso</h1>
                <span class="mainDescription">Desde este formulario usted podrá visualizar el curso seleccionado</span>
            </div>

        </div>
    </section>


    <!-- end: PAGE TITLE -->
    <!-- start: FORM VALIDATION -->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <uib-tabset class="tabbable">
                    <uib-tab select="switchTab('program','list')">
                        <uib-tab-heading>
                            <i class="glyphicon glyphicon-file"></i>  Programas
                        </uib-tab-heading>
                        <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="app.views.urlRoot + 'modules/certificate/certificateadminprogram/certificate_program.htm'">
                        </div>
                    </uib-tab>
                    <uib-tab disabled="false" select="switchTab('grade','list')" >
                        <uib-tab-heading>
                            <i class="glyphicon glyphicon-earphone"></i> Cursos
                        </uib-tab-heading>

                        <div ng-if="tabname=='grade' || tabsloaded.indexOf('grade') >= 0">
                            <div data-ng-animate="'wave'" class="fade-in-right-big" data-ng-include="app.views.urlRoot + 'modules/certificate/certificateadmingrade/certificate_grade.htm'">
                            </div>
                        </div>
                    </uib-tab>

                </uib-tabset>

            </div>
        </div>
    </div>
    <!-- end: FORM VALIDATION -->
</div>