<div class="tab2" ng-controller="agentEditCtrl">
    <form name="Form" id="form11" novalidate ng-submit="form.submit(Form)">
        <div class="panel panel-white">
            <div class="panel-heading border-light">
                <h4 class="panel-title"><span class="text-bold">INFORMACIÓN DE CONTACTO</span></h4>
                <div class="panel-tools">
                    <a href='#' class="btn btn-primary btn-o btn-sm"
                        tooltip-placement='top' uib-tooltip="Adicionar" ng-click="onAddContact()"><i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <div class="row" ng-repeat="contact in agent.contacts">

                    <div class="col-md-4">
                        <div class="form-group">
                            <ui-select ng-disabled="isView" ng-model="contact.type" theme="bootstrap">
                                <ui-select-match placeholder="- Seleccionar -">
                                    [[$select.selected.item]]
                                </ui-select-match>
                                <ui-select-choices repeat="item in extrainfo | filter: $select.search track by $index">
                                    <div ng-bind-html="item.item | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>

                    <div class="" ng-class='{"col-md-7": agent.contacts.length > 1 && !isView, "col-md-8" : (agent.contacts.length <= 1  || isView) }'>
                        <div class="form-group">
                            <input ng-disabled="isView" type="text" placeholder="Ingresa el valor" class="form-control"
                                name="value" ng-model="contact.value" />
                        </div>
                    </div>

                    <div class="col-md-1" ng-if="agent.contacts.length > 1  && !isView">
                        <div class="pull-right">

                            <div class="form-group">
                                <a href='#' class="btn btn-danger btn-o btn-sm" tooltip-placement='top' uib-tooltip="Eliminar"
                                    ng-click="removeContact($index)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-15">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-if="!isView">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-primary btn-o" ng-click="cancelEdition()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>