<div class="container-fluid container-fullw bg-white">
    <div ng-controller="dashboardDiagnosticCustomerEmployeesCtrl">

        <div class="panel-body ">

            <div data-ng-animate="'wave'" ng-if="activeTab==2" class="fade-in-right-big margin-top-30"
                 data-ng-include="app.views.urlRoot + 'modules/dashboard/employee/employees.htm'"></div>

            <div data-ng-animate="'wave'" ng-if="activeTab==2" class="fade-in-right-big margin-top-30"
                 data-ng-include="app.views.urlRoot + 'modules/dashboard/employee/occupational_medicine.htm'"></div>

            <div data-ng-animate="'wave'" ng-if="activeTab==2" class="fade-in-right-big margin-top-30"
                 data-ng-include="app.views.urlRoot + 'modules/dashboard/employee/absenteeism.htm'"></div>

            <div data-ng-animate="'wave'" ng-if="activeTab==2" class="fade-in-right-big margin-top-30"
                 data-ng-include="app.views.urlRoot + 'modules/dashboard/employee/accidents.htm'"></div>

            <div data-ng-animate="'wave'" ng-if="activeTab==2" class="fade-in-right-big margin-top-30"
                 data-ng-include="app.views.urlRoot + 'modules/dashboard/employee/job_conditions.htm'"></div>

            <div data-ng-animate="'wave'" ng-if="activeTab==2" class="fade-in-right-big margin-top-30"
                 data-ng-include="app.views.urlRoot + 'modules/dashboard/employee/virtual_reality.htm'"></div>

        </div>

    </div>
</div>
