<div class="fade-in-right-big">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="CONFIGURACIÓN DE PLANES DE TRABAJO FGN">CONFIGURACIÓN DE PLANES DE TRABAJO FGN</h1>
            </div>
            <!-- <div ncy-breadcrumb></div> -->
        </div>
    </section>

    <div class="container-fluid container-fullw bg-white">
        <div ng-controller="PFFactivityConfigEditCtrl">

            <form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-heading border-light">
                                <h4 class="panel-title"><span class="text-bold">INFORMACIÓN DE LA ACTIVIDAD</span></h4>
                            </div>

                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Eje</label>
                                            <input type="text" ng-disabled="true" class="form-control" name="axis" placeholder="Ingrese valor" ng-model="entity.axis.item" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Acción</label>
                                            <input type="text" ng-disabled="true" class="form-control" name="action" placeholder="Ingrese valor" ng-model="entity.action.item" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Cod. Actividad</label>
                                            <input type="text" ng-disabled="true" class="form-control" name="code" placeholder="Ingrese valor" ng-model="entity.code" />
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label">Actividad </label>
                                            <input type="text" ng-disabled="true" class="form-control" name="name" placeholder="Ingrese valor" ng-model="entity.name" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="panel panel-white">
                            <div class="panel-heading border-light">
                                <h4 class="panel-title"><span class="text-bold">ACTIVIDAD CREA</span></h4>
                            </div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'has-error':Form.strategy.$dirty && Form.strategy.$invalid}">
                                            <label class="control-label">Estrategia <span class="symbol required"></span></label>
                                            <ui-select name="strategy" ng-model="gestpos.strategy" theme="bootstrap" ng-disabled="isView" ng-required="true">
                                                <ui-select-match placeholder="- Seleccionar -">
                                                    [[$select.selected.strategy.item]]
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in entity.details.strategy | filter: $select.search track by $index">
                                                    <div ng-bind-html="item.strategy.item | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="error text-small block" ng-if="Form.strategy.$dirty && Form.strategy.$invalid">
                                            El valor es requerido.
                                        </span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group" ng-class="{'has-error':Form.modality.$dirty && Form.modality.$invalid}">
                                            <label class="control-label">Modalidad <span class="symbol required"></span></label>
                                            <ui-select name="modality" ng-model="gestpos.modality" theme="bootstrap" ng-disabled="isView" ng-required="true">
                                                <ui-select-match placeholder="- Seleccionar -">
                                                    [[$select.selected.item]]
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in modalityList | filter: $select.search track by $index">
                                                    <div ng-bind-html="item.item | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="error text-small block" ng-if="Form.modality.$dirty && Form.modality.$invalid">
                                            El valor es requerido.
                                        </span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group" ng-class="{'has-error':Form.executionType.$dirty && Form.executionType.$invalid}">
                                            <label class="control-label">Tipo Ejecución <span class="symbol required"></span></label>
                                            <ui-select name="executionType" ng-model="gestpos.executionType" theme="bootstrap" ng-disabled="isView" ng-required="true">
                                                <ui-select-match placeholder="- Seleccionar -">
                                                    [[$select.selected.item]]
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in executionTypeList | filter: $select.search track by $index">
                                                    <div ng-bind-html="item.item | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="error text-small block" ng-if="Form.executionType.$dirty && Form.executionType.$invalid">
                                            El valor es requerido.
                                        </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <div class="form-group" ng-class="{'has-error':Form.activityName.$dirty && Form.activityName.$invalid}">
                                                    <label class="control-label">Actividad <span class="symbol required"></span> </label>
                                                    <input type="text" ng-disabled="true" class="form-control" required name="activityName" placeholder="Ingrese valor" ng-model="gestpos.activity.item" />
                                                    <span class="error text-small block" ng-if="Form.activityName.$dirty && Form.activityName.$invalid">
                                                    El valor es requerido.
                                                </span>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <br>
                                                <button type="button" ng-disabled="gestpos.id > 0 || isView" class="btn btn-success btn-o btn-sm margin-top-5" tooltip-placement='top' uib-tooltip="Buscar Actividades" ng-click="onAddActivity()"> <i class="fa fa-search">  </i></button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Tarea  </label>
                                            <input type="text" ng-disabled="true" class="form-control" name="taskName" placeholder="Ingrese valor" ng-model="gestpos.task.item" />
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>
                                            Aporta Cobertura
                                        </label>
                                            <div class="checkbox" style="margin-top: 0px !important;">
                                                <switch disabled="!entity.hasCoverage" ng-model="gestpos.providesCoverage" class="green"></switch>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>
                                            Aporta Cumplimiento
                                        </label>
                                            <div class="checkbox" style="margin-top: 0px !important;">
                                                <switch disabled="!entity.hasCompliance" ng-model="gestpos.providesCompliance" class="green"></switch>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-primary" ng-if="!isView">
                                            Guardar
                                        </button>
                                            <button type="button" class="btn btn-primary btn-o" ng-click="onCancel()">
                                            Cancelar
                                        </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <div kendo-grid="grid" k-options="mainGridOptions" k-ng-delay="mainGridOptions">
                                        <div k-detail-template>

                                            <div kendo-grid="gridItem" class="hide-grid-header" k-options="detailGridOptions(dataItem)">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row padding-bottom-20">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" ng-if="entity.id > 0 && !isView" class="btn btn-primary " ng-click="onEdit()" ng-if="can('positiva_fgn_activity_create_edit')">
                                    Editar
                                </button>
                                    <button type="button" ng-if="entity.id > 0" class="btn btn-info " ng-click="onConfigSectional()">
                                    Configurar Seccionales
                                </button>
                                    <button type="button" class="btn btn-primary btn-o" ng-click="onBack()">
                                    Regresar
                                </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
